.restaurant-card {
    width: calc(25% - 20px); /* 4 cards per row */
    margin: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
    vertical-align: top;
    background-color: #fff;
    text-align: left;
    
}
.restaurant-card :hover{zoom: 102%;}
.restaurant-cards-container :hover{zoom: 102%;}
.restaurant-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.restaurant-card p {
    margin: 8px 0;
    font-size: 14px;
}

.restaurant-image {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
}
.restaurant-cards-container{margin-left: 14%;}

h2{text-align: center;font-weight: bold;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

.prevNextbtn{align-content: center;margin-left: 40%;}
.prevNextbtn button{background-color: blue;margin: .5%;width: 90px;height: 30px;
    border:1px solid black;border-radius: 0.5rem;font-size: larger;font-weight: bold;color: white;}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar img{
    width: 7vw;
    height: 7vh;
    margin-top: 3%;
    padding-left: 15vw;
}



/* Restuarant css */

.ResturantDetails img{width: 90vw;height: 40vh;border-radius: .5rem;margin: 2%;}
#location{font-size: large;font-weight: bold;}
#resname{font-weight: bolder;font-size:40px;color:rebeccapurple}
