.service{
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    margin-top: 2%;
    border-style: none;
    border: none;
}
.service img{
    height: 200px;
    width: 300px;
    border-radius: 1rem;
}


.serviceList{
    margin-left: 12%;
    display: flex;
    gap: 2rem;
    
}
.service button,Link{
    border:1px solid rgb(231, 231, 231);
    background-color:white;
    border-radius: 1rem;
}
.service button:hover{
    cursor: pointer;
    zoom: 102%;
}
.link-h4{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: large;
    margin-bottom: .5rem;
}
